%div.container-fluid
  %div.timeline.col-md-3
    - @client.home_timeline.each do |tweet|
      %div.tweet
        %div.tweet_header
          %a{ href: "https://twitter.com/#{tweet.user.screen_name}", target: "_blank" }
            %div.user_name= tweet.user.name
            %div.user_screen_name= tweet.user.screen_name
          = image_tag tweet.user.profile_image_uri, class: "tweet_profile_image"
        %div.tweet_body
          %div.tweet_text= tweet.full_text
          %div#tweet_menu
