%div.table-responsive
  %table.table.table-condensed.table-hover.table-bordered
    %thead
      %tr
        %th KEY
        %td VALUE
    %tbody
      %tr
        %th USER_NAME
        %td= @user.name
      %tr
        %th DESCRIPTION
        %td= @user.description
      %tr
        %th STATUS_COUNT
        %td= number_with_delimiter @user.statuses_count
      %tr
        %th FRIENDS_COUNT
        %td= number_with_delimiter @user.friends_count
      %tr
        %th FOLLOWERS_COUNT
        %td= number_with_delimiter @user.followers_count
      %tr
        %th FAVORITES_COUNT
        %td= number_with_delimiter @user.favorites_count
      %tr
        %th TIME
        %td= time_ago_in_words(@user.status.created_at).capitalize
      %tr
        %th STATUS
        %td= @user.status.source
      %tr
        %th ACCESS_TOKEN
        %td= session['access_token']
      %tr
        %th SECLET
        %td= session['access_token_secret']
