= form_for @account do |f|
  %div.table-responsive
    %table.table.table-condensed.table-hover.table-bordered
      %thead
        %tr
          %th Image
          %th ID
          %th Account Screen Name
          %th Account Name
          %th Account Follows 
          %th Account Followers
          %th Action
      %tbody
        - @accounts.each do |account|
          %tr
            %td= image_tag account.profile_image_uri
            %td
              = account.id
              = f.hidden_field :account_id, value: account.id
            %td
              %a{ href: "https://twitter.com/#{account.screen_name}" }
                = account.screen_name
                = f.hidden_field :screen_name, value: account.screen_name
            %td
              %a{ href: "https://twitter.com/#{account.screen_name}" }
                = account.name
                = f.hidden_field :name, value: account.name
            %td
              - @client.friend_ids(account.screen_name).each do |follow|
                = "#{follow}"
                = text_field_tag 'follows[]', follow
            %td
              - @client.follower_ids(account.screen_name).each do |follower|
                = "#{follower}"
                = text_field_tag 'followers[]', follower
            %td
              = f.submit "登録"
