!!!
%html
  %head
  %title= TwitterViewer::Application.config.site_name
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body
    %header
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{ href: root_path }= TwitterViewer::Application.config.site_name
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li
                %a{ href: "#" }
                  Watch
              %li
                %a{ href: "#" }
                  Diff
              %li
                %a{ href: "#" }
                  Tags
            = form_tag account_searches_path, method: 'get', class: "navbar-form navbar-left" do
              .form-group
                = text_field_tag 'account_name', nil, placeholder: "Search Account", class: "form-control"
              %button.btn.btn-default{ type: "submit" } Submit
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{ "aria-expanded" => false, "aria-haspopup" => true, "data-toggle" => "dropdown",  href: "#", role: "button" }
                  Menu
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{ href: profile_path }
                      Profile
                  %li
                    = form_tag signout_path, method: 'delete' do
                      = button_tag "Logout"
    %div.container-fluid
      = yield
